.cleanInputCell input {
    border: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #C75B12 !important;
}

.btn-primary {
    background-color: #E98300 !important;
    border: none;
}

.btn-success {
    background-color: #69BE28 !important;
}

.btn-danger {
    background-color: #be2d28 !important;
}