<div ng-controller="DebugCtrl as $ctrl">
    <input ng-model="url" style="width: 100%">
    <textarea ng-model="data" style="width: 100%; height: 300px"></textarea>
    <textarea ng-bind="output" style="width: 100%; height: 300px" ng-style="{'background-color': status}" ng-show="!showHTML"readonly></textarea>
    <div ng-bind-html="output" style="width: 100%; height: 300px; overflow: scroll;" ng-style="{'background-color': status}" ng-show="showHTML"readonly></div>

    <button type="button" class="btn btn-secondary" ng-click="makeRequest()">
        Make Request
    </button>

</div>